name: Build and deploy Angular app to Azure Web App - my-wepapp-ridene

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: Install dependencies and build Angular
        run: |
          npm install
          npm run build -- --configuration production

      - name: Upload Angular build artifact
        uses: actions/upload-artifact@v4
        with:
          name: angular-dist
          path: dist/azure-ad-angular/browser

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download Angular build artifact
        uses: actions/download-artifact@v4
        with:
          name: angular-dist
          path: angular-dist-folder

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CF8126063D654FBDB29B39C04537CE2F }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_8CF7E9C654054D5B9E09557FAF059D39 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_9030BA7FEBEA4664838BAD70DFA3C7D2 }}

      - name: Deploy Angular app to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'my-wepapp-ridene'
          slot-name: 'Production'
          package: angular-dist-folder
